{% extends "layout.html" %}
{% block body %}

	<header class="container">
		<h1 class="m--1">Chalice Hunter</h1>
	</header>
	<div class="g--10 m--1 container container--wrap--s">
		<div class="card g--4 g-m--12 g-s--12 g-t--12 nudge--right no-nudge--s no-nudge--t">
			<input type="text" required placeholder="Chalice" class="search chalice-search"></input>
		</div>
		<div class="card g--4 g-m--12 g-s--12 g-t--12 nudge--right no-nudge--s no-nudge--t">
			<input type="text" required placeholder="Weapon" class="search weapon-search">
		</div>
		<div class="card g--4 g-m--12 g-s--12 g-t--12">
			<input type="text" required placeholder="Material" class="search material-search">
		</div>
	</div>
	<div class="g--2 g-m--2 g-s--12 g-t--12 m--5 m-m--5">
		<button class="search reset btn--raised btn--primary">RESET</button>
	</div>
	{% for row in data %}
		<div class="chalice-entry tile g--12">
			<table class="g--12">
				<tr>
					<td><h5>Chalice</h5></td>
					<td><h5>Rites<h5></td>
					<td><h5>Glyph</h5></td>
				</tr>
				<tr>
					<td class="chalice-cell g--4">{{row.1}}</td>
					<td class="rites-cell g--4">{{row.2}}</td>
					<td class="glyph-cell g--4">{{row.3}}</td>						
				</tr>				
			</table>
			<table class="g--12">
				<tr>
					<td class="g--2"><h5>Comments:</h5></td>
					<td class="comments-cell g--10">{{row.12}}</td>
				</tr>
			</table>
			
			<table class="loot-table g--12">
				<tr>
					<td class="g--2"></td>
					<td class="g--5"><h5>Weapons</h5></td>
					<td class="g--5"><h5>Materials</h5></td>
				</tr>
				{% for i in range(0,4) %}
				<tr>
					<td><h5>Layer {{i+1}}</h5></td>
					<td class="weapon-cell">{{row[i+4]}}</td>
					<td class="material-cell">{{row[i+8]}}</td>
				</tr>
				{% endfor %}	
			</table>
		</div>	
	{% endfor %}
	<p>Hello world</p>
	
<script>
$('.chalice-search').on('input', function(){ 
	search();
});

$('.weapon-search').on('input', function(){
	search();
});

$('.material-search').on('input', function(){
	search();
});

$('.reset').click(function(){
	$('.chalice-search').val('');
	$('.weapon-search').val('');
	$('.material-search').val('');
	$('.chalice-entry').show();
});

//This function gathers the parameters the user is searching for
//and goes through every chalice-entry div. If a div matches the
//parameters, it shows it. Otherwise the div is hidden.
function search(){

	//Gather the search values from each text input
	chalice_search_value = $('.chalice-search').val().toLowerCase();
	weapon_search_value = $('.weapon-search').val().toLowerCase();
	material_search_value = $('.material-search').val().toLowerCase();
	//console.log("chalice-search-value:"+chalice_search_value);
	//console.log("weapon-search-value:"+weapon_search_value);
	//console.log("material-search-value:"+material_search_value);

	//Perform the following actions on each chalice-entry div
	$('.chalice-entry').each(function(){
		
		//Assume the desired elements will not be found in the div
		found_chalice=false;
		found_material=false;
		found_weapon=false;

		//Compare the chalice cell to the chalice search value
		$(this).find('.chalice-cell').each(function(){
			if ($(this).text().toLowerCase().indexOf(chalice_search_value) >= 0){
				//If there's a match, note it
				found_chalice=true;
			}
		});	
		//Compare each weapon cell to the weapon search value
		$(this).find('.weapon-cell').each(function(){
			if ($(this).text().toLowerCase().indexOf(weapon_search_value) >= 0){
				//If there's a match, note it	
				found_weapon=true;
			}
		});

		//Compare each material cell to the material search value
		$(this).find('.material-cell').each(function(){
			if ($(this).text().toLowerCase().indexOf(material_search_value) >= 0){
				//If there's a match, note it
				found_material=true;
			}
		});
		//If a match was found for each of the search values,
		//show this chalice-entry
		if(found_chalice&&found_weapon&&found_material){
			$(this).show();
		}else{
			//If not, hide the chalice-entry
			$(this).hide();
		}
	});
}
</script>

{% endblock %}